
.principal{
    height: 100vh;
    width: 100vw !important;

    position: absolute;
    top:0;
    right:50px;
    margin-right: auto;
    margin-left: auto;

    background-color: rgba(0,0,0,0.5);
}
.card-evento{
    width: 70%;
    height: 400px;
    margin-top:150px;

}
.botao-estilo{
    font-size: 20px;
}