.row-da-hora{
    

    
}
.hora{
    font-size: 30px;
    font-weight: 600;
    border-right: 2px solid #000;
}
.evento{
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    padding-left: 100px;
}
.row-do-evento{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #000000;
    border-bottom: 1.5px solid #000;
    margin-bottom: 5px;
}
