.App {
  text-align: center;
}
body{
  background-color: #f2f2f2;
}
.calendar-days{
  padding: 30px 20px 30px 20px;
  font-size: 30px;
  font-weight: 600;
  border: 2px solid #000;
  text-align: center;
}
.dias-passados{
  background-color: #d9d9d9;
}

.color-1{
  background-color: #3b5998;
}
.color-2{
  background-color: #8b9dc3;
}
.color-3{
  background-color: #dfe3ee;
}
.color-4{
  background-color: #f7f7f7;
}